@model CineTech.Models.Projekcija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projekcija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cijenaOsnovneKarte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cijenaOsnovneKarte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kinoSalaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kinoSalaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.filmId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.filmId)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
