@model IEnumerable<CineTech.Models.Projekcija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijenaOsnovneKarte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kinoSalaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijenaOsnovneKarte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kinoSalaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filmId)
            </td>
            <td>
                @if (User.IsInRole("Administrator")){
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.id">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
