@using Microsoft.AspNetCore.Identity
@using Microsoft.CodeAnalysis.Elfie.Serialization
@model IEnumerable<CineTech.Models.Projekcija>
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager


@{
    if (SignInManager.IsSignedIn(User))
    {
        var currentUserId = await UserManager.GetUserAsync(User);
        var korisnik = await UserManager.GetUserIdAsync(currentUserId);
        //var username = await UserManager.GetUserNameAsync(currentUserId);

    }
    var isAdmin = User.IsInRole("Administrator");
    async Task<string> GetUserNameAsync(string userId)
    {
        var user = await UserManager.FindByIdAsync(userId);
        return user?.UserName;
    }

}

@{
    ViewData["Title"] = "ProjekcijeFilma";
}

<h1>Projekcije filma</h1>
<table class="table">
    <thead>
            <tr>
                <th>
                    Datum            
                </th>
            <th>
                Vrijeme
            </th>
            <th>
                Kino Sala
            </th>
            <th>
                @if (User.IsInRole("Administrator"))
                {
                        @Html.DisplayNameFor(model => model.filmId)
                    }
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.datum)
                </td>
                <td>
                    @Html.DisplayFor(model => item.vrijeme)
                </td>
                <td>
                    @Html.DisplayFor(model => item.kinoSalaId)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.DisplayFor(model => item.filmId)
                    }
                </td>
                <td>

                    <a asp-controller="ZauzetaSjedistas" asp-action="OdabirSjedista" asp-route-id="@Model.?id">Odaberi projekciju</a>


                </td>

            </tr>
        }
        <a asp-controller="Films" asp-action="Details" asp-route-id="@ViewBag.filmid">Back to list</a>
    </tbody>
</table>