@model CineTech.Models.Ocjena

@{
    ViewData["Title"] = "Details";
    var filmid = Model.FilmId;
    var ocjenaid = Model.id;
}

<h1>Details</h1>

<div>
    <h4>Ocjena</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ocjenaFilma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ocjenaFilma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.komentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.komentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnikId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnikId)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-controller="Ocjenas" asp-action="OcjeneFilma" asp-route-id="@filmid">Back to list</a>
   
</div>
