@using Microsoft.AspNetCore.Identity
@using CineTech.Data;

@model IEnumerable<CineTech.Models.Ocjena>
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject ApplicationDbContext _context;

@{
    var currentUserId = await UserManager.GetUserAsync(User);
    var korisnik = await UserManager.GetUserIdAsync(currentUserId);
    var isAdmin = User.IsInRole("Administrator");
    async Task<string> GetUserNameAsync(string userId)
    {
        var user = await UserManager.FindByIdAsync(userId);
        return user?.UserName;
    }
}

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Index</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Filma</th>
                <th>Ocjena Filma</th>
                <th>Komentar</th>
                <th>Datum</th>
                @if (isAdmin)
                {
                    <th>Korisnik ID</th>
                    <th>Korisničko ime</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@((await _context.Film.FindAsync(item.FilmId))?.naziv ?? "-")</td>
                    <td>@Html.DisplayFor(modelItem => item.ocjenaFilma)</td>
                    <td>@Html.DisplayFor(modelItem => item.komentar)</td>
                    <td>@Html.DisplayFor(modelItem => item.datum)</td>
                    @if (isAdmin)
                    {
                        <td>@Html.DisplayFor(modelItem => item.korisnikId)</td>
                        <td>
                            @{
                                var username = await GetUserNameAsync(item.korisnikId);
                                @username
                            }
                        </td>
                    }
                    <td>
                        @if (SignInManager.UserManager.Users.First(user => user.UserName == User.Identity.Name).Id == item.korisnikId || isAdmin)
                        {
                            <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
