@model IEnumerable<CineTech.Models.Film>

@{
    ViewData["Title"] = "Home Page";
    var filmGenres = ViewBag.FilmGenres as Dictionary<int, List<Zanr>>;

}

<div class="text-center">
    <h1 class="display-4">Dobrodošli u CineTech kino.</h1>
    <p>Filmovi koji se trenutno emituju:</a></p>
</div>

<div class="container">
    <div class="row">
        @foreach (var film in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a asp-controller="Films" asp-action="Details" asp-route-id="@film.id"><img class="card-img-top" src="@film.naslovnaSlika" alt="@film.naziv" /></a>
                    <div class="card-body">
                        <h5 class="card-title">@film.naziv</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@film.redatelj</h6>
                        <p class="card-text">
                            <strong>Žanr:</strong>
                            @if (filmGenres.ContainsKey(film.id))
                            {
                                @string.Join(", ", filmGenres[film.id])
                            }
                            else
                            {
                                @:N/A
                            }
                            <br><br>
                            <strong>Release date:</strong> @film.releseDate.ToString("MM/dd/yyyy")<br>
                            <strong>Glumci:</strong> @film.glumci<br>
                            <strong>Opis:</strong> @film.opis
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="@film.trailer" class="btn btn-primary" target="_blank">Pogledaj trailer</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
