@using Microsoft.AspNetCore.Identity
@using CineTech.Data;

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject ApplicationDbContext _context;

@{
    ViewData["Title"] = "SviKorisnici";
}

<h1 class="text-center">Svi Korisnici</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID Usera</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Broj telefona</th>
                        <th>Uloge</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>@item.PhoneNumber</td>
                            <td>
                                @{
                                    var user = await UserManager.FindByNameAsync(item.UserName);
                                    var roles = await UserManager.GetRolesAsync(user);
                                    @string.Join(", ", roles)
                                }
                            </td>
                            <td>
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="username" value="@item.UserName" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                <a href="@Url.Action("SviKorisniciEdit", new { username = item.UserName })" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a asp-controller="Films" asp-action="AdminIndex" class="btn btn-primary">Nazad</a>
        </div>
    </div>
</div>
