@model CineTech.Models.Film

@{
    ViewData["Title"] = "AdminDetails";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.naziv)
        </dd>
        <dt class="col-sm-2">
            <img src=@Model.naslovnaSlika>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.naslovnaSlika)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.redatelj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.redatelj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.glumci)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.glumci)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.releseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.releseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.trailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.trailer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPrikazivanja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusPrikazivanja)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary">Edit</a>
    }
    <a asp-controller="Films" asp-action="AdminFilmovi" class="btn btn-primary">Nazad</a>
</div>
