@model IEnumerable<CineTech.Models.Film>

@{
    ViewData["Title"] = "AdminFilmovi";
}

<h1 class="text-center my-4">Dodavanje, brisanje i izmjena informacija o filmovima</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create" class="btn btn-success mb-3">Dodaj Film</a>
    }
</p>
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.naslovnaSlika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.redatelj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.glumci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.releseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trailer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPrikazivanja)
            </th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naziv)
                </td>
                <td>
                    <img src="@item.naslovnaSlika" class="img-thumbnail" style="max-width: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.redatelj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.glumci)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.releseDate)
                </td>
                <td>
                    <a href="@item.trailer" target="_blank" class="btn btn-outline-info btn-sm">Trailer</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusPrikazivanja)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning btn-sm">Izmjeni</a>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm">Obriši</a>
                    }
                    <a asp-action="AdminDetails" asp-route-id="@item.id" class="btn btn-primary btn-sm">Detalji</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <a asp-action="AdminIndex" class="btn btn-secondary mt-3">Nazad</a>
</div>
