@model CineTech.Models.Film

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naslovnaSlika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naslovnaSlika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.redatelj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.redatelj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.glumci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.glumci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.releseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.releseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPrikazivanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPrikazivanja)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
