@model CineTech.Models.Film
@inject IEnumerable<CineTech.Models.Film> film
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager


@{
    ViewData["Title"] = "Details";
    var isAktuelan = false;
    if(Model.StatusPrikazivanja == StatusPrikazivanja.Aktuelan)
    {
        isAktuelan = true;
    }
}

<h1>Detalji filma</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naziv)
        </dd>
        <dt class = "col-sm-2">
            <img src=@Model.naslovnaSlika>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naslovnaSlika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.redatelj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.redatelj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.glumci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.glumci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.releseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.releseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPrikazivanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPrikazivanja)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary" >Nazad</a>
    @if (User.IsInRole("Administrator")||(User.IsInRole("Korisnik")))
    {
        if (isAktuelan)
        {
            <a asp-controller="Ocjenas" asp-action="OcijeniFilm" asp-route-id="@Model.id" class="btn btn-primary">Ocijenite film</a>
        }
    }
    @if (User.IsInRole("Administrator")){
        <a asp-controller="Ocjenas" asp-action="Index" class="btn btn-primary">Ocjene sve</a>
    }
    <a asp-controller="Ocjenas" asp-action="OcjeneFilma" asp-route-id="@Model.id" class="btn btn-primary">Pogledajte ocjene filma</a>
</div>
