@model IEnumerable<CineTech.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Dodaj Film</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.naslovnaSlika)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.redatelj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.glumci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.releseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trailer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPrikazivanja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                <img src=@item.naslovnaSlika/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.redatelj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.glumci)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.releseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trailer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPrikazivanja)
            </td>
            <td>
                    @if (User.IsInRole("Administrator")) {
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a asp-action = "Delete" asp-route-id = "@item.id"> Delete </a>
                }
                    <a asp-action="Details" asp-route-id="@item.id"> Details </a>
                </td>
        </tr>
}
    </tbody>
</table>
