@using Microsoft.AspNetCore.Identity
@using CineTech.Data;

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject ApplicationDbContext _context;
@model IEnumerable<CineTech.Models.Film>

<h1 class="text-center my-4">Najgledaniji filmovi</h1>

<center style="margin-bottom:10px">
    <a asp-controller="Films" asp-action="NajgledanijiFilmoviUSvijetu" class="btn btn-secondary">
        Najpopularniji filmovi u svijetu
    </a>
</center>

<div class="container">
    <div class="row">
        @foreach (var film in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <a asp-controller="Films" asp-action="Details" asp-route-id="@film.id">
                        <img class="card-img-top" src="@film.naslovnaSlika" alt="@film.naziv" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@film.naziv</h5>
                        @{
                            var ocjeneFilma = _context.Ocjena.Where(o => o.FilmId == film.id).ToList();
                            var prosjecnaOcjena = ocjeneFilma.Any() ? ocjeneFilma.Average(o => o.ocjenaFilma) : 0;
                        }
                        <p class="card-text">Prosjecna ocjena: @prosjecnaOcjena.ToString("0.00")</p>
                    </div>
                    <div class="card-footer">
                        <a href="@film.trailer" class="btn btn-primary" target="_blank">Pogledaj trailer</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
