@model IEnumerable<CineTech.Models.Notifikacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Korisnik
            </th>
            <th>
                Period Notifikacije
            </th>
            <th>
                Status Notifikacije
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KorisnikId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodNotifikacije)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusNotifikacije)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.id"><i class="fas fa-edit"></i> Edit</a> |
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.id"><i class="fas fa-info-circle"></i> Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id"><i class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
