@using Microsoft.AspNetCore.Identity
@model IEnumerable<CineTech.Models.ZauzetaSjedista>
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager


@{
    if (SignInManager.IsSignedIn(User))
    {
        var currentUserId = await UserManager.GetUserAsync(User);
        var korisnik = await UserManager.GetUserIdAsync(currentUserId);
        //var username = await UserManager.GetUserNameAsync(currentUserId);

    }
    var isAdmin = User.IsInRole("Administrator");
    async Task<string> GetUserNameAsync(string userId)
    {
        var user = await UserManager.FindByIdAsync(userId);
        return user?.UserName;
    }

}

@{
    ViewData["Title"] = "ZauzetaSjedista";
}

<h1>Slobodna sjedista</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Red
            </th>
            <th>
                Redni broj sjedišta
            </th>
            <th>
                @if (User.IsInRole("Administrator"))
                {
                    @Html.DisplayNameFor(model => model.ProjekcijaId)
                }
            </th>
        </tr>

    </thead>
   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.red)
                </td>
                <td>
                    @Html.DisplayFor(model => item.redniBrojSjedista)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.DisplayFor(model => item.ProjekcijaId)
                    }
                </td>
                <td>
                    @item.id
                    <a asp-controller="Rezervacijas" asp-action="CreateSjediste" asp-route-red="@item.red" asp-route-redniBrojSjedista="@item.redniBrojSjedista" asp-route-ProjekcijaId="@item.ProjekcijaId">Rezerviši</a>


                </td>
                <td>
                    @item.id
                    <a asp-controller="Kupovinas" asp-action="Create" asp-route-id="@item.id">Kupi</a>
                </td>

            </tr>
        }
        <a asp-controller="Films" asp-action="Details" asp-route-id="@ViewBag.filmid">Back to list</a>
    </tbody>
</table>